/* .hexagon-in2 {background-position: initial !important;} */


/* .overlay-B{
    position: relative;
} */


.gallery-item .overlay.overlay-1 a::after, 
.gallery-item .overlay.overlay-2 a::after,
.gallery-item .overlay.overlay-3 a::after,
.gallery-item .overlay.overlay-4 a::after, 
.gallery-item .overlay.overlay-5 a::after,
.gallery-item .overlay.overlay-6 a::after,
.gallery-item .overlay.overlay-7 a::after, 
.gallery-item .overlay.overlay-8 a::after,
.gallery-item .overlay.overlay-9 a::after,
.gallery-item .overlay.overlay-10 a::after,
.gallery-item .overlay.overlay-11 a::after,
.gallery-item .overlay.overlay-12 a::after,
.gallery-item .overlay.overlay-13 a::after,
.gallery-item .overlay.overlay-14 a::after,
.gallery-item .overlay.overlay-15 a::after,
.gallery-item .overlay.overlay-16 a::after,
.gallery-item .overlay.overlay-17 a::after{
position: absolute;
left: -4rem;
color: white;
font-weight: bold;
top: 4em;
width: 400%;
height: 50%;
white-space: pre-line;
/* background: lightblue; */
}

/* .gallery-item .overlay.overlay-1 a::before{
    content: "Mr. Joseph";
     position: relative; 
left: -4rem;
color: white;
font-weight: bold;
top: 5em;
width: 400%;
height: 50%;
white-space: pre;
} */

.gallery-item .overlay.overlay-1 a::after{
    content: attr(data-content);
    line-height: 1.3;
}
.gallery-item .overlay.overlay-2 a::after{
    content: attr(data-content);
    line-height: 1.3;
}
.gallery-item .overlay.overlay-3 a::after{
    content: attr(data-content);
    line-height: 1.3;
}
.gallery-item .overlay.overlay-4 a::after{
    content: attr(data-content);
    line-height: 1.3;
}
.gallery-item .overlay.overlay-5 a::after{
    content: attr(data-content);
    line-height: 1.3;
    /* content: "content Writing"; */
}
.gallery-item .overlay.overlay-6 a::after{
    content: attr(data-content);
    line-height: 1.3;
}

.gallery-item .overlay.overlay-7 a::after{
    content: attr(data-content);
    line-height: 1.3;
}
.gallery-item .overlay.overlay-8 a::after{
    content: attr(data-content);
    line-height: 1.3;
    /* content: "Video/Content Creator"; */
}
.gallery-item .overlay.overlay-9 a::after{
    content: attr(data-content);
    line-height: 1.3;
}
.gallery-item .overlay.overlay-10 a::after{
    content: attr(data-content);
    line-height: 1.3;
}
.gallery-item .overlay.overlay-11 a::after{
    content: attr(data-content);
    line-height: 1.3;
}
.gallery-item .overlay.overlay-12 a::after{
    content: attr(data-content);
    line-height: 1.3;
}
.gallery-item .overlay.overlay-13 a::after{
    content: attr(data-content);
    line-height: 1.3;
}
.gallery-item .overlay.overlay-14 a::after{
    content: attr(data-content);
    line-height: 1.3;
}
.gallery-item .overlay.overlay-15 a::after{
    content: attr(data-content);
    line-height: 1.3;
}
.gallery-item .overlay.overlay-16 a::after{
    content: attr(data-content);
    line-height: 1.3;
}
.gallery-item .overlay.overlay-17 a::after{
    content: attr(data-content);
    line-height: 1.3;
}

